* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}


body {
    background-color: #12151E;
    color: white;
}

.interest-section {
    margin-top: 60px;
}
/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #212137;
    color: #888;
}