* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}

body {
    /* background-color: #0f0f0f; */
    background: linear-gradient(to bottom, #1a1a26, #1a1a26);

    color: white;
}

.interest-section {
    margin-top: 0;
}